/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */

:root {
  /* ## Colors */
  /* ### Primary */

  --clr-primary-soft-blue: hsl(215, 51%, 70%);
  --clr-primary-cyan: hsl(178, 100%, 50%);

  /* ### Neutral */
  --dark-blue-main-BG: hsl(217, 54%, 11%);
  --dark-blue-main-card-BG: hsl(216, 50%, 16%);
  --dark-blue-line: hsl(215, 32%, 27%);
  --neutral-100: hsl(0, 0%, 100%);

  /* ## Typography
    
    ### Body Copy */

  --fs-paragraph: 18px;

  /* ### Font */

  --ff-base: 'Outfit', sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;
}

* {
  font-size: var(--fs-paragraph);
}

body {
  font-family: var(--ff-base);
  color: var(--neutral-100);
  background-color: var(--dark-blue-main-BG);

  justify-content: center;
}

.flex {
  display: flex;
}

.fd-c {
  flex-direction: column;
}

main {
  justify-content: center;
  align-items: center;
  align-self: center;

  padding: 1.25rem;
  gap: 1.5rem;

  max-width: 375px;
}

/* card */

.card {
  background-color: var(--dark-blue-main-card-BG);
  border-radius: 0.75rem;
  gap: 1rem;

  padding: 1.25rem;

  box-shadow: 0 0 1rem rgb(0, 0, 0);
}

.img-container {
  position: relative;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.img-main {
  border-radius: 0.5rem;
}

.img-hover {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.img-container:hover .img-hover {
  opacity: 1;
}

.img-container:hover .img-bg {
  opacity: 0.4;
}

.img-bg {
  height: 100%;
  width: 100%;
  background-color: var(--clr-primary-cyan);
  opacity: 0;
  position: absolute;

  border-radius: 0.5rem;
  transition: opacity 0.3s ease-in-out;
}

.card h1 {
  font-size: 1.25rem;
}

.card h1,
.author {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.card h1:hover,
.author:hover {
  color: var(--clr-primary-cyan);
}

.card p {
  font-weight: var(--fw-light);
  color: var(--clr-primary-soft-blue);
}

/* eth & days */

.eth-days {
  justify-content: space-between;
}

.eth,
.days {
  gap: 0.5rem;

  align-items: center;
  color: var(--clr-primary-cyan);
}

.days {
  color: var(--clr-primary-soft-blue);
}

/* creation */

.creation {
  align-items: center;
  gap: 1rem;

  padding-top: 1rem;
  border-top: 1px solid var(--dark-blue-line);
}

.creation h2 > span:first-child {
  color: var(--clr-primary-soft-blue);
}

.creation img {
  border-radius: 50%;
  border: 1px solid white;

  height: 2rem;
}

.creation h2 {
  font-weight: var(--fw-light);
}
